@font-face {
  font-family: 'SF-pro';
  src: url(../../content/assets/fonts/SF-Pro-Text-Regular.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  font: 100% SF-pro, sans-serif;
}

body {
  background-color: #282c35;
  font: 100% SF-pro, sans-serif;
}

body,
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  box-shadow: none;
}

h1 {
  font-family: inherit;
  margin: 0;
}

h4,
h5,
h6 {
  font-family: inherit;
}

.layout {
  display: flex;
  width: 42rem;
  min-height: 100vh;
  margin: 0 auto 0 auto;
  flex-direction: column;
  padding-bottom: 3vh;
}

.index {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.link-home {
  margin-top: 20px;
}

.about {
  margin-top: 5vh;
}

.about-content {
  text-align: justify;
  margin-top: 1rem;
}

.avatar {
  width: 40%;
  float: left;
  margin: 0 1.5rem 1.5rem 0;
}

footer {
  text-align: center;
}

blockquote {
  border-left-color: #51596d;
}

blockquote p {
  color: white;
  font-style: italic;
}

section p {
  text-align: justify;
}
