@font-face {
  font-family: 'SF-pro';
  src: url(../fonts/SF-Pro-Text-Regular.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

html,
body {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  font: 100% SF-pro, sans-serif;
  background-color: black;  
  color: white;
}

body,
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}